<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:insert="static/head :: copy"></div>
    <title>Material Design Bootstrap</title>
</head>

<header>
    <div th:insert="static/header :: copy"></div>
</header>

<body>
<!--START-->
<div class="custom-my-container w-100">
    <div class="container-fluid clear-mp-fix bg-dark">
        <div class="black text-center text-white">
            <h3>Finding by filters:</h3>
            <div class="text-white pt-2 pb-2 align-items-center">
                Less Than:
                <div class="search">
                    <div class="d-flex justify-content-center">
                        <input id="price" type="text" placeholder="Search . . ." required>
                    </div>
                </div>
            </div>
            <div class="text-white pt-2 pb-2 align-items-center">
                City of interest :
                <div class="search">
                    <div class="d-flex justify-content-center">
                        <input id="name" type="text" placeholder="Search . . ." required>
                    </div>
                </div>
            </div>
            <a id="dynamic-url" class="btn btn-outline-danger btn-rounded" href="/buy">
                Submit
            </a>
        </div>
    </div>
</div>
<div class="col w-100">
    <label th:text="${filter_price}"></label>
    <!--<label th:text="${depcity}"></label>-->
    <div th:if="${tour.empty}">List is empty</div>

    <div th:each="t: ${tour}">
        <div class="row pl-2 mt-4">
            <div class="col-xl-4 col-md-6 col-xs-6 col-sm-6">
                <img th:src="${t.Photo}" class="img-fluid img-thumbnail" style="height: 350px; min-width: 400px;">
            </div>
            <div class="col-xl col-md col-xs-12 col-sm-12 ml-3">
                <h3>
                    <div th:text="'Tour №' + ${t.ID_Tour} + ' ' + ${t.Header_Name}"></div>
                </h3>
                <h5 class="pt-5">Description :</h5>
                <div th:text="${t.Description}" class="pt-2"></div>
                <div th:text="'Date Start: ' + ${t.Date_Start} + ' Date End: ' + ${t.Date_End} + ' Price: ' + ${t.price}"></div>
                <p><input type="submit" class="btn btn-outline-danger btn-rounded mt-4" value="More"></p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!-- SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="static/js/filter.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="static/js/main-search.js"></script>

<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>

</body>

<!-- Footer -->
<footer>
    <div th:insert="static/footer :: copy"></div>
</footer>

</html>