<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:insert="static/head :: copy"></div>
    <title>Material Design Bootstrap</title>
</head>

<header>
    <div th:insert="user/static/header :: copy"></div>
</header>

<body>


<!--START-->
<div class="container-fluid custom-my-container">
    <div class="row">
        <div class="col clear-mp-fix">
            <div class="custom-img w-100" style="background-image:  url('https://images.pexels.com/photos/166126/pexels-photo-166126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
                float: right;">
                <img class="image-custom" style="visibility: hidden;"
                     src="https://images.pexels.com/photos/1468094/pexels-photo-1468094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                     alt="">
            </div>
        </div>
        <div class="container mt-4 w-100">
            <div class="row">
                <div class="col">
                    <div class="col-md-12 col-md-12-sm-12 col-xs-12 text-center">
                        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png"
                             class="rounded-circle">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <button id="btn-contact" class="btn btn-success btn-block follow">Message</button>
                        <button class="btn btn-warning btn-block">Edit Profile</button>
                    </div>
                </div>
                <div class="col-8">
                    <h1><label th:text="${user.Name} + ' ' + ${user.Surname}"></label></h1>
                    <h5><label th:text="${user.username}"></label></h5>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i
                                    class="fas fa-user-circle"></i>Personal Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tours" role="tab" data-toggle="tab"><i
                                    class="fas fa-user-circle"></i>Tours</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="profile">
                            <div class="row">
                                <div class="col">
                                    <label>ID</label>
                                </div>
                                <div class="col">
                                    <p><label th:text="${user.id}"></label></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Real Name</label>
                                </div>
                                <div class="col">
                                    <p><label th:text="${user.Name} + ' ' + ${user.Surname}"></label></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Email</label>
                                </div>
                                <div class="col">
                                    <p><label th:text="${user.Email}"></label></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Phone Number</label>
                                </div>
                                <div class="col">
                                    <p>12345678</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Profession</label>
                                </div>
                                <div class="col">
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                        <!--something else...-->
                        <div role="tabpanel" class="tab-pane fade show" id="tours">
                            Info about ticket
                        </div>
                    </div>
                    <!--<div class="tab-content">-->
                        <!---->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/main-search.js"></script>

<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>

</body>

<!-- Footer -->
<footer>
    <div th:insert="static/footer :: copy"></div>
</footer>

</html>