*{
    font-family: 'Raleway', sans-serif;
}

html,
body,
.view {
    height: 100%;
}
.carousel{
    height: 70%;
}
.carousel .carousel-inner {
    height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

@media (max-width: 776px) {
    .carousel{
        height: 100%;
    }
}

.custom-clr {
    color: #dd233a !important;
}
.custom-img {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}

.clear-mp-fix {
    margin: 0 !important;
    padding: 0 !important;
}

/*MAIN PAGE SEARCH ENGINE*/
.flexbox {
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dd233a;
}

.search {
    margin: 20px;
}

.search > h3 {
    font-weight: normal;
}

.search > h1,
.search > h3 {
    color: white;
    margin-bottom: 15px;
}

.search > div {
    display: inline-block;
    position: relative;
}

.search > div > input {
    color: white;
    font-size: 16px;
    background: transparent;
    width: 35px;
    height: 35px;
    padding: 15px;
    border: solid 3px white;
    outline: none;
    border-radius: 45px;
    transition: width 0.5s;
}

.search > div > input::placeholder {
    color: #efefef;
    opacity: 1;
}

.search > div > input::-ms-input-placeholder {
    color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
    width: 250px;
}
.custom-my-container {
    padding-top: 5%;
}
.register-padding {
    padding-top: 20%;
    padding-bottom: 20%;
}

