*{
    font-family: 'Raleway', sans-serif;
}

html,
body,
.view {
    height: 100%;
}
.carousel{
    height: 70%;
}
.carousel .carousel-inner {
    height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

@media (max-width: 776px) {
    .carousel{
        height: 100%;
    }
}

.custom-clr {
    color: #00b0ff !important;
}