<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:insert="static/head :: copy"></div>
    <title>ADMIN PAGE</title>
</head>


<body>
<h2 class="text-center bg-danger text-white">Admin control panel</h2>

<div class="container mt-4">

    <div class="row w-100" style="background-color: rgba(170,162,55,0.67);">
        <div class="col-auto">
            <h3>User Info</h3>
            <form action="#" th:action="@{/admin/userrole}" th:object="${user_role}" method="post">
                <!--<p>Id: <input type="text" th:field="*{ID_Country}" /></p>-->
                Input User ID
                <p><input type="text" th:field="*{user_id}"/></p>
                Check Roles
                <p>
                    <select th:field="*{roles}">
                        <option th:each="i : ${roles}"
                                th:value="${i}"
                                th:text="${i}">
                        </option>
                    </select>
                </p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </div>
    <div class="row w-100" style="background-color: rgba(26,170,39,0.67);">
        <div class="col-auto">
            <h3>Adding country</h3>
            <form action="#" th:action="@{/admin/country}" th:object="${country}" method="post">
                <!--<p>Id: <input type="text" th:field="*{ID_Country}" /></p>-->
                Country Name
                <p><input type="text" th:field="*{Name_County}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Adding City</h3>
            <form action="#" th:action="@{/admin/city}" th:object="${city}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Country
                <p>
                    <select th:field="*{ID_Country}">
                        <option th:each="i : ${list}" th:value="${i.ID_Country}" th:text="${i.Name_County}">
                        </option>
                    </select>
                </p>
                City
                <p><input type="text" th:field="*{City_Name}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Adding City Sights</h3>
            <form action="#" th:action="@{/admin/sight}" th:object="${sight}" method="post" multiple="multiple">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                City
                <p>
                    <select th:field="*{ID_City}">
                        <option th:each="i : ${list_city}"
                                th:value="${i.ID_City}"
                                th:text="${i.City_Name}">
                        </option>
                    </select>
                </p>
                Name Sight
                <p><input type="text" th:field="*{Name_Sight}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </div>
    <div class="row w-100" style="background-color: rgba(35,166,170,0.67);">
        <div class="col-auto">
            <h3>Add MAIN Tour</h3>
            <form action="#" th:action="@{/admin/tour}" th:object="${tour}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Photo (link)
                <p><p><input type="text" th:field="*{Photo}"/></p></p>
                Total Price Tour
                <p><input type="text" th:field="*{Price}"/></p>
                Header Name
                <p><input type="text" th:field="*{Header_Name}"/></p>
                Description
                <p><textarea type="text" th:field="*{Description}" cols="40" rows="3"></textarea></p>
                Date Start
                <p><input type="text" th:field="*{Date_Start}"/></p>
                Date End
                <p><input type="text" th:field="*{Date_End}"/></p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Adding Tour Content</h3>
            <form action="#" th:action="@{/admin/tour_content}" th:object="${tour_content}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                City
                <p>
                    <select th:field="*{ID_City}">
                        <option th:each="i : ${list_city}"
                                th:value="${i.ID_City}"
                                th:text="${i.City_Name}">
                        </option>
                    </select>
                </p>
                Tour
                <p>
                    <select th:field="*{ID_Tour}">
                        <option th:each="i : ${list_tour}"
                                th:value="${i.ID_Tour}"
                                th:text="${i.ID_Tour}">
                        </option>
                    </select>
                </p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </div>
    <div class="row w-100" style="background-color: rgba(89,89,170,0.67);">
        <div class="col-auto">
            <h3>Add Hotel</h3>
            <form action="#" th:action="@{/admin/hotel}" th:object="${hotel}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Name Hotel
                <p><input type="text" th:field="*{Name_Hotel}"/></p>
                City
                <p>
                    <select th:field="*{ID_City}">
                        <option th:each="i : ${list_city}"
                                th:value="${i.ID_City}"
                                th:text="${i.City_Name}">
                        </option>
                    </select>
                </p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Add Room Type</h3>
            <form action="#" th:action="@{/admin/roomtype}" th:object="${room_type}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Room Type Name
                <p><input type="text" th:field="*{Name_Type}"/></p>
                Type Price
                <p><input type="text" th:field="*{Price}"/></p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Add Room Type</h3>
            <form action="#" th:action="@{/admin/room}" th:object="${room}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Hotel
                <p>
                    <select th:field="*{ID_Hotel}">
                        <option th:each="i : ${list_hotel}"
                                th:value="${i.ID_Hotel}"
                                th:text="${i.ID_Hotel} + ' ' + ${i.Name_Hotel}">
                        </option>
                    </select>
                </p>
                Room Type
                <p>
                    <select th:field="*{ID_Room_Type}">
                        <option th:each="i : ${list_type}"
                                th:value="${i.ID_Room_Type}"
                                th:text="${i.ID_Room_Type} + ' ' + ${i.Name_Type}">
                        </option>
                    </select>
                </p>
                Room Price
                <p><input type="text" th:field="*{Room_Price}"/></p>


                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Add Service</h3>
            <form action="#" th:action="@{/admin/services}" th:object="${services}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Name Service
                <p><input type="text" th:field="*{Name_Service}"/></p>
                Price Service
                <p><input type="text" th:field="*{Price_Service}"/></p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Add Room Service</h3>
            <form action="#" th:action="@{/admin/room_services}" th:object="${room_service}" method="post">
                Hotel
                <p>
                    <select th:field="*{ID_Hotel}">
                        <option th:each="i : ${list_hotel}"
                                th:value="${i.ID_Hotel}"
                                th:text="${i.ID_Hotel} + ' ' + ${i.Name_Hotel}">
                        </option>
                    </select>
                </p>
                Room
                <p>
                    <select th:field="*{ID_Room}">
                        <option th:each="i : ${list_room}"
                                th:value="${i.ID_Room}"
                                th:text="'ID Hotel: '+${i.ID_Hotel}+' ID Room: '+${i.ID_Room}">
                        </option>
                    </select>

                </p>
                Service
                <p>
                    <select th:field="*{ID_Service}">
                        <option th:each="i : ${list_service}"
                                th:value="${i.ID_Service}"
                                th:text="${i.Name_Service} + ' ' + ${i.Price_Service}">
                        </option>
                    </select>
                </p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </div>
</div>


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/main-search.js"></script>

<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>

</body>

</html>