<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:insert="static/head :: copy"></div>
    <title>ADMIN PAGE</title>
</head>


<body>
<h2 class="text-center bg-danger text-white">Admin control panel</h2>

<div class="container mt-4">
    <div class="row w-100" style="background-color: rgba(26,170,39,0.67);">
        <div class="col-auto">
            <h3>Adding country</h3>
            <form action="#" th:action="@{/admin/country}" th:object="${country}" method="post">
                <!--<p>Id: <input type="text" th:field="*{ID_Country}" /></p>-->
                Country Name
                <p><input type="text" th:field="*{Name_County}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Adding City</h3>
            <form action="#" th:action="@{/admin/city}" th:object="${city}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Country
                <p>
                    <select th:field="*{ID_Country}">
                        <option th:each="i : ${list}" th:value="${i.ID_Country}" th:text="${i.Name_County}">
                        </option>
                    </select>
                </p>
                City
                <p><input type="text" th:field="*{City_Name}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Adding City Sights</h3>
            <form action="#" th:action="@{/admin/sight}" th:object="${sight}" method="post" multiple="multiple">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                City
                <p>
                    <select th:field="*{ID_City}">
                        <option th:each="i : ${list_city}"
                                th:value="${i.ID_City}"
                                th:text="${i.City_Name}">
                        </option>
                    </select>
                </p>
                Name Sight
                <p><input type="text" th:field="*{Name_Sight}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </div>
    <div class="row w-100" style="background-color: rgba(35,166,170,0.67);">
        <div class="col-auto">
            <h3>Add MAIN Tour</h3>
            <form action="#" th:action="@{/admin/tour}" th:object="${tour}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Total Price Tour
                <p><input type="text" th:field="*{Total_Price}"/></p>
                Date Start
                <p><input type="text" th:field="*{Date_Start}"/></p>
                Date End
                <p><input type="text" th:field="*{Date_End}"/></p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Adding Tour Content</h3>
            <form action="#" th:action="@{/admin/tour_content}" th:object="${tour_content}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                City
                <p>
                    <select th:field="*{ID_City}">
                        <option th:each="i : ${list_city}"
                                th:value="${i.ID_City}"
                                th:text="${i.City_Name}">
                        </option>
                    </select>
                </p>
                Tour
                <p>
                    <select th:field="*{ID_Tour}">
                        <option th:each="i : ${list_tour}"
                                th:value="${i.ID_Tour}"
                                th:text="${i.ID_Tour}">
                        </option>
                    </select>
                </p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Adding City Tour</h3>
            <form action="#" th:action="@{/admin/city_tour}" th:object="${city_tour}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                City
                <p>
                    <select th:field="*{ID_City}">
                        <option th:each="i : ${list_city}"
                                th:value="${i.ID_City}"
                                th:text="${i.ID_City}+' '+${i.City_Name}">
                        </option>
                    </select>
                </p>
                Sight
                <p>
                    <select th:field="*{ID_Sight}">
                        <option th:each="i : ${list_sight}"
                                th:value="${i.ID_Sight}"
                                th:text="'ID City: '+ ${i.ID_City} + ' ' + ${i.Name_Sight}">
                        </option>
                    </select>
                </p>
                Local Price
                <p><input type="text" th:field="*{Local_Price}"/></p>
                Time Start
                <p><input type="text" th:field="*{Time_Start}"/></p>
                Time End
                <p><input type="text" th:field="*{Time_End}"/></p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </div>
    <div class="row w-100" style="background-color: rgba(89,89,170,0.67);">
        <div class="col-auto">
            <h3>Add Hotel</h3>
            <form action="#" th:action="@{/admin/hotel}" th:object="${hotel}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Name Hotel
                <p><input type="text" th:field="*{Name_Hotel}"/></p>
                City
                <p>
                    <select th:field="*{ID_City}">
                        <option th:each="i : ${list_city}"
                                th:value="${i.ID_City}"
                                th:text="${i.City_Name}">
                        </option>
                    </select>
                </p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Add Room Type</h3>
            <form action="#" th:action="@{/admin/roomtype}" th:object="${room_type}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Room Type Name
                <p><input type="text" th:field="*{Name_Type}"/></p>
                Type Price
                <p><input type="text" th:field="*{Price}"/></p>

                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Add Room Type</h3>
            <form action="#" th:action="@{/admin/room}" th:object="${room}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Hotel
                <p>
                    <select th:field="*{ID_Hotel}">
                        <option th:each="i : ${list_hotel}"
                                th:value="${i.ID_Hotel}"
                                th:text="${i.ID_Hotel} + ' ' + ${i.Name_Hotel}">
                        </option>
                    </select>
                </p>
                Room Type
                <p>
                    <select th:field="*{ID_Room_Type}">
                        <option th:each="i : ${list_type}"
                                th:value="${i.ID_Room_Type}"
                                th:text="${i.ID_Room_Type} + ' ' + ${i.Name_Type}">
                        </option>
                    </select>
                </p>
                Room Price
                <p><input type="text" th:field="*{Room_Price}"/></p>


                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </div>
</div>


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/main-search.js"></script>

<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>

</body>

</html>