<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:insert="static/head :: copy"></div>
    <title>ADMIN PAGE</title>
</head>

<body>
<h2 class="text-center">Admin control panel</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-auto">
            <h3>Adding country</h3>
            <form action="#" th:action="@{/admin/country}" th:object="${country}" method="post">
                <!--<p>Id: <input type="text" th:field="*{ID_Country}" /></p>-->
                Country Name
                <p><input type="text" th:field="*{Name_County}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-auto">
            <h3>Adding City</h3>
            <form action="#" th:action="@{/admin/city}" th:object="${city}" method="post">
                <!--<p>Id Country: <input type="text" th:field="*{ID_Country}" /></p>-->
                Country
                <p>
                    <select th:field="*{ID_Country}">
                        <option th:each="i : ${list}" th:value="${i.ID_Country}" th:text="${i.Name_County}">
                        </option>
                    </select>
                </p>
                City
                <p><input type="text" th:field="*{City_Name}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/main-search.js"></script>

<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>

</body>

</html>