<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test1 page</title>
    <style rel="stylesheet">@import "static/css/styles.css";</style>
</head>
<body>
    <div><h2>Hello dear <label th:text="${authUser}"></label></h2></div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <ul>
        <div th:if="${users.empty}">List is empty</div>
        <div th:each="user: ${users}">
            <div th:text="${user.id} + ' ' + ${user.username}"></div>
        </div>
    </ul>
</body>
</html>