<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <div class="text-white black">
        <div class="row mt-4 w-100 align-items-center">
            <div class="container-fluid text-md-left mt-4" style="width: 45%">
                <h5 class="text-uppercase font-weight-bold">
                    Lorem ipsum dolor sit.
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Architecto deserunt error expedita facere fuga in magni mollitia sint, voluptate voluptatum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eligendi
                    illo in inventore ipsum, itaque maiores minima modi nobis porro.
                </p>
            </div>
            <div class="container-fluid text-md-left mt-4" style="width: 45%">
                <h5 class="text-uppercase font-weight-bold">
                    Lorem ipsum dolor sit.
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Architecto deserunt error expedita facere fuga in magni mollitia sint, voluptate voluptatum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut cumque cupiditate eligendi
                    id ipsum molestiae molestias provident repellendus unde.
                </p>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://nure.ua">by Student NURE</a>
        </div>
    </div>
</div>
</body>
</html>