<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="copy">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light black scrolling-navbar nav-txt-clr">
        <div class="container">
            <a href="/" class="navbar-brand waves-effect mr-5">
                <strong class="custom-clr font-weight-bold">
                    <i class="fas fa-plane-departure"></i>
                    AK-TRAVEL
                </strong>
            </a>
            <button class="navbar-toggler btn-danger" type="button"
                    data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-3 active">
                        <a href="/" class="nav-link waves-effect text-white">HOME</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="/buy" class="nav-link waves-effect text-white">BUY</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="#" class="nav-link waves-effect text-white">HOT</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="#" class="nav-link waves-effect text-white">ABOUT</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link waves-effect">
                            <i class="fab fa-facebook text-white fa-1x text-white"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link waves-effect">
                            <i class="fab fa-telegram text-white fa-1x text-white"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link waves-effect">
                            <i class="fab fa-youtube text-white"></i>
                        </a>
                    </li>
                </ul>
                <form th:action="@{/logout}" method="post" style="outline: none;">
                    <input type="submit" class ="btn btn-outline-danger btn-rounded ml-4"
                           value="Sign Out"/>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>